<form action="/EditUser" method="POST">
            <label for="NombreUsuario"> Ingrese su nuevo correo</label>
            <input type="text" name="correo" id="correo" placeholder="nuevo correo">

                        <label for="PasswordUsuario">Ingrese su nuevo password</label>
            <input type="text" name="password" id="password" placeholder="nuevo password">
            <br>
            <button class="button">Confirmar cambios</button>
            <br>

</form>